@{
    ViewBag.Title = "Welcome";
}

<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<h2>Employee Administration System</h2>
<body data-ng-app="APIModule">
    <div id="Emps" ng-controller="APIController">
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
            </tr>
            <tbody data-ng-repeat="emp in employee">
                <tr>
                    <td>{{emp.Id}}</td>
                    <td ng-blur="updEmployee(emp,$event)" ng-dblclick="makeEditable($event)">{{emp.FirstName}}</td>  
                    <td>{{emp.LastName}}</td>
                    <td>{{emp.Email}}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <label for="email">Add Employee</label>
            <input type="text" class="form-control" id="FirstName" placeholder="Enter first name" [required="string" ] data-ng-model="FirstName" />
            <input type="text" class="form-control" id="LastName" placeholder="Enter last name" [required="string" ] data-ng-model="LastName" />
            <input type="email" class="form-control" id="Email" placeholder="Enter email" [required="string" ] data-ng-model="Email" />
        </div>
        <button type="button" class="btn btn-default" data-ng-click="addEmps();">Submit</button>

    </div>
</body>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/APIScripts/Module.js"></script>
<script src="~/Scripts/APIScripts/Service.js"></script>
<script src="~/Scripts/APIScripts/Controller.js"></script>   